.hero {
  width: 100%;
  position: relative;
  height: 640px;
  &::before {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../images/overlay.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
  }
  &.has-slider {
    height: 100svh;
  }

  .hero-image {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  @media (max-width: 991px) {
    // height: 540px !important;
    max-height: 100svh;
  }

  &__image {
    width: 100%;
    height: 100svh !important;

    @media (max-width: 991px) {
      height: 540px !important;
      max-height: 100svh;
    }

    img {
      width: 100%;
      height: 100svh !important;
      object-fit: cover;

      transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
      transition-delay: 2000ms !important;
      transition-duration: 10000ms !important;

      @media (max-width: 991px) {
        // height: 540px !important;
        max-height: 100svh;
      }
    }
  }

  .swiper-slide-active img,
  .swiper-slide-duplicate-active img {
    transition-delay: 0s !important;
  }

  &__content {
    width: 80%;
    position: absolute;
    z-index: 2;
    // top: 50%;
    // transform: translate(-50%, -100%);
    top: 200px;
    transform: translate(-50%, 0);
    left: 50%;
    text-align: center;

    h2 {
      font-family: var(--font-heading);
      color: var(--color-text);
      font-size: 42px;
      line-height: 48px;
      font-weight: 300;

      @media (max-width: 991px) {
        font-size: 28px;
        line-height: 32px;

        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }

    &--bottom {
      height: 80px;
      position: fixed;
      width: 100%;
      bottom: 0;
      left: 0;
      z-index: 3;
      background-color: var(--color-primary);

      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      text-transform: uppercase;

      font-size: 16px;
      line-height: 20px;
      color: var(--color-text);
    }
  }

  .swiper-pagination {
    display: flex;
    align-items: center;
    position: absolute;
    left: 120px;
    bottom: 48px;
    right: unset;
    top: unset;
    transform: none;

    @media (max-width: 991px) {
      left: 50%;
      transform: translateX(-50%);
      bottom: 16px;
    }

    button {
      width: 26px;
      height: 26px;
      margin: 0;
      position: relative;

      &::after {
        content: "";
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: var(--color-white);
        position: absolute;
        top: calc(50% - 0.5px);
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .swiper-arrows {
    display: flex;
    align-items: center;
    gap: 20px;
    position: absolute;
    right: 120px;
    bottom: 48px;

    @media (max-width: 991px) {
      display: none;
    }

    .swiper-button-next,
    .swiper-button-prev {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 1px solid var(--color-white);
      display: flex;
      align-items: center;
      justify-content: center;
      position: unset;
      transition: all 0.4s ease;

      &:hover {
        background-color: var(--color-white);

        path {
          stroke: var(--color-secondary);
        }
      }

      svg {
        width: 7px;
        height: 12px;

        path {
          transition: all 0.4s ease;
        }
      }

      &::after {
        display: none;
      }
    }
  }

  .swiper-pagination-bullet {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
    margin: 0;
    pointer-events: none;

    span {
      color: #232c6a;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .progress {
    transform: rotate(-90deg);
    width: 28px;
    height: 28px;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .circle-origin {
    fill: transparent;
    stroke: var(--color-white);
    stroke-width: 1;
    stroke-linecap: round;
    stroke-dasharray: 125.664px;
    stroke-dashoffset: 125.664px;
    opacity: 1;
  }

  .swiper-pagination-bullet-active .circle-origin {
    animation: progress 10s;
    opacity: 1;
  }

  @keyframes progress {
    0% {
      stroke-dashoffset: 125.664px;
      // stroke-dashoffset: 0;
    }

    100% {
      stroke-dashoffset: 0;
    }
  }
}
