#header {
  .header-logo {
    display: block;
    width: 160px;
    height: 90px;
    position: fixed;
    z-index: 999;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);

    @media (max-width: 991px) {
      // width: 120px;
      // height: auto;
      top: 24px;
    }

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
}
