@font-face {
    font-family: 'Platypi';
    src: url('Platypi-Light.eot');
    src: url('Platypi-Light.eot?#iefix') format('embedded-opentype'),
        url('Platypi-Light.woff2') format('woff2'),
        url('Platypi-Light.woff') format('woff'),
        url('Platypi-Light.ttf') format('truetype'),
        url('Platypi-Light.svg#Platypi-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Platypi';
    src: url('Platypi-Regular.eot');
    src: url('Platypi-Regular.eot?#iefix') format('embedded-opentype'),
        url('Platypi-Regular.woff2') format('woff2'),
        url('Platypi-Regular.woff') format('woff'),
        url('Platypi-Regular.ttf') format('truetype'),
        url('Platypi-Regular.svg#Platypi-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

